body {
    color: #FFFFFF;
    background: rgb(32, 35, 41);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden; 
    overflow-y: hidden;   
    width: 1920px;
    height: 1080px;
    outline: none;
    user-select: none;
}

.table-responsive {
    margin: 30px 0;
    border-radius: 15px;
    background: #333538;
}

.table-wrapper {
    min-width: 1000px;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
    min-width: 100%;
}

.table-title h2 {
    margin: 8px 0 0;
    font-size: 22px;
}

.search-box {
    position: relative;
    float: right;
}

.search-box input {
    height: 34px;
    border-radius: 20px;
    padding-left: 35px;
    border-color: #ddd;
    box-shadow: none;
}

.search-box input:focus {
    border-color: #3FBAE4;
}

.search-box i {
    color: #a0a5b1;
    position: absolute;
    font-size: 19px;
    top: 8px;
    left: 10px;
}
.table-title h2 {
    color: rgb(255, 255, 255);
    margin: 8px 0 0;
    font-size: 22px;
}
table.table tr th,
table.table tr td {
    background-color: #ffffff;
    border-color: #e9e9e9;

}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table td:last-child {
    width: 130px;
}

table.table td a {
    color: #a0a5b1;
    display: inline-block;
    margin: 0 5px;
}

table.table td a.view {
    color: #03A9F4;
}

table.table td a.edit {
    color: #FFC107;
}

table.table td a.delete {
    color: #E34724;
}

table.table td i {
    font-size: 19px;
}

.pagination {
    position: absolute;
    left: 884px;
    bottom: 100px;
    justify-content: center;
    align-items: center;
    color: #666;
    outline: none;
    user-select: none;
}

.pagination li a {
    border: none;
    font-size: 95%;
    width: 30px;
    height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 30px !important;
    text-align: center;
    padding: 0;
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;

}
.page-item.active .page-link{
    background: #333538;
}
.pagination li a:hover {
    color: #999;
    transform: scale(1.15)!important;

}
.pagination li.active a {
    background: #202020;
}
.pagination li.disabled i {
    color: #ccc;
}

.pagination li i {
    font-size: 16px;
    padding-top: 6px
}

.hint-text {
    float: left;
    margin-top: 6px;
    font-size: 95%;
}


/* Input y buscar */
.inputbusca{
    width: 300px;
    padding: 10px;
    border: 0px solid #ddd; /* Borde suave */
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    background-color: rgb(255, 165, 0, 0);
    color: white;
}
.inputbusca:hover, .inputbusca:active, .inputbusca:focus{
    background-color: rgb(255, 165, 0, 0);
    color: white;
    box-shadow: 0 0px 7px 1px #198754af;
}
.inputbusca, .buscar, .lupa{
    transition: all 0.5s ease;
}

.buscar{
    background-color: #198754;
    outline: none !important;
    box-shadow: none !important; 
}
.buscar:hover{
    box-shadow: 0 0px 7px 1px #198754af;

}
.buscar:active{
    transition: all 0.1s ease;
    transform: scale(0.98);
}
.lupa{
    width: 20px;
    height: 20px;
}
.buscar:hover .lupa{
    transition: all 0.5s ease;
    transform: scale(1.15);
}

.buscar:hover, .inputbusca:hover{
    transition: all 0.5s ease;
    transform: scale(1.03);
}




/* Card */
.titulo, .card{
    user-select: none;
}
.card{
    border-radius: 10px;
    background-color: rgb(39, 43, 51);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.card-img-top{
    max-width: 100%; 
    max-height: 100%; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.card-header{
    background-color: rgb(39, 43, 51);
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding: 0px 0px 10px 0px; 
    border: none;
}
.card-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    flex-grow: 1; 
    text-align: left; 
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;

}



strong{
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
    font-weight: normal;
}

/* Animaciones y colores de la tarjeta del personaje */

.card.border-success:hover, 
.card.border-danger:hover, 
.card.border-warning:hover{
    transform: scale(1.05);
}
.card.border-success:hover {
    box-shadow: 0 4px 15px rgba(0, 255, 0, 0.5);
}
.card.border-success:hover .card-title,
.card.border-success:hover strong{
    color: rgb(0, 200, 0);
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}
.card.border-danger:hover {
    box-shadow: 0 4px 15px rgba(255, 0, 0, 0.5); 
}
.card.border-danger:hover .card-title,
.card.border-danger:hover strong{
    color: rgb(200, 0, 0);
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
.card.border-warning:hover {
    box-shadow: 0 4px 15px rgba(255, 165, 0, 0.5);
}
.card.border-warning:hover .card-title,
.card.border-warning:hover strong{
    color: rgb(255, 165, 0);
    text-shadow: 0 0 10px rgba(255, 165, 0, 0.5);
}


/* Emojis */
.corazon, .fav{
    color: #fff;
    background-color: rgba(255, 255, 255, 0) !important;
    border: none !important;
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}
.corazon:hover, .fav:hover{
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border: none!important;
    transform: scale(1.35)!important;
}
.corazon:hover{
    text-shadow: 0 0 10px rgba(255, 0, 0);
}

.corazon:active, .corazon:focus {
    outline: none !important;
    box-shadow: none !important; 
}

/* Inicio */

.bienvenida{
    margin-top: 150px;
    justify-content: center;
    width: 400px;
    padding: 20px 15px;
    border: none;
    border-radius: 15px;
    background-color: rgb(39, 43, 51);
    font-size: 16px;
    box-shadow: 5px 5px 20px 1px rgb(0 0 0 / 42%);
    transition: all 0.3s ease;
    outline: none;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;    
}

/* footer */
.logoungs{
    display: block; 
    margin-left: 10px; 
    margin-right: auto; 
    width: 20px;
    height: 20px;
}

/* Animación del título (? */
h1 {
    overflow: hidden; 
    white-space: nowrap;
    display: inline-block;
    position: relative;
    width: 0;
    animation: typing 4s steps(180, end) forwards, blink 0.1s step-end 5s;
}

@keyframes typing {
    from {
        width: 0; 
        left: 50%;
    }
    to {
        width: 100%; 
        left: 0; 
    }
}
@keyframes blink {
    from {
        border-right: 3px solid black;
    }
    to {
        border-right: 3px solid transparent;
    }
}
/* Header */
.navbar{
    background-color: rgba(70, 70, 70, 0.493);
    margin-bottom: 25px;
    color: white;
}

.nav-link{
    color: white;
    transition: all 0.5s ease;
}
.nav-link:hover{
    color: white;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 1px rgb(127 127 127 / 50%);
}
.este_link{
    color: #ffffff!important;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    background-color: #1d59ff!important;
    outline: none !important;
    box-shadow: none !important; 
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}
.este_link:hover{
    transition: all 0.3s ease;
    transform: scale(1.02);
    background-color: #0044ff!important;
}
.este_link:active{
    transition: all 0.1s ease;
    transform: scale(1);
    background-color: #0041f3!important;
}


.bienvenida{
    margin: 250px auto;
    padding: 15px;
    background-color: rgba(70, 70, 70, 0.493);
}
#saludo::first-letter {
    text-transform: uppercase;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.imagen{
    margin-left: 10px;
    width: 22px;
    height: 22px;
}
.boton-header{
    margin-left: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: #202329;
}
