{% extends 'header.html' %} {% block content %} 
<div class="bienvenida">
    {% if request.user.is_authenticated %}
<div class="flex-center"><h2 class="text-center">Bienvenido</h2><h2 id="saludo">{{ user.username }}!</h2></div>
    {% else %}
    <h2 class="text-center">Bienvenido!</h2>
    {% endif %}
    <a href="{% url 'home' %}" class="este_link" onclick="spinner(event)">Mirá las imágenes desde este link</a>
    
</div> 

<div id="spinner" class="spinner" style="display: none;"></div>
<div id="text-spinner" class="text-spinner" style="display: none;">Cargando imagenes...</div>

<style>
.spinner {
    width: 100px;
    height: 100px;
    border: 10px solid #f3f3f3; 
    border-top: 10px solid #00759c; 
    border-radius: 50%;
    animation: spin 1s linear infinite; 
    margin: auto;
    margin-top: 330px;
    user-select: none;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.text-spinner {
    margin-top: 1%;
    margin-left: 46%;
    user-select: none;
}
</style>
<script>
/* Función para el spinner: */
function spinner(event) {
    event.preventDefault();

    const bienvenida = document.querySelector('.bienvenida');
    if (bienvenida) {
        bienvenida.style.display = 'none';
    }

    document.getElementById('spinner').style.display = 'block';
    document.getElementById('text-spinner').style.display = 'block';

    setTimeout(() => {
        window.location.href = event.target.href;
    }, 800);    
    setTimeout(() => {
        location.reload();
    }, 2000);  
}
  

</script>
{% endblock %}